#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

/* Gama de colores del proyecto */
/* .color1 { #092b5a }
.color2 { #09738a }
.color3 { #78a890 }
.color4 { #9ed1b7 }
.color5 { #e7d9b4 } */

